{% extends "base.html" %}
{% block title %}Lista de Clientes{% endblock %}
{% block content %}
<body>
    <h1>Clientes</h1>
    <a href="{% url 'clientes:crear' %}">Nuevo cliente</a>
    <ul>
        {% for cliente in clientes %}
            <li>
                <a href="{% url 'clientes:detalle' cliente.pk %}">
                    {{ cliente.nombre }}
                </a>
                |
                <a href="{% url 'clientes:editar' cliente.pk %}">Editar</a>
                |
                <a href="{% url 'clientes:eliminar' cliente.pk %}">Eliminar</a>
            </li>
        {% empty %}
            <li>No hay clientes registrados.</li>
        {% endfor %}
    </ul>
</body>
</html>
{% endblock %}